*{
    padding: 0;
    margin: 0;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Quicksand', sans-serif;
}

p,span,label,li,a{
    font-family: 'Roboto', sans-serif;
}

a{
    text-decoration: none;
}

/* Navbar */
nav{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 5px 12px;
    background-color: white;
    justify-content: space-between;
}
nav ul, .navs-phone ul{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0;
    padding: 0;
}
nav ul li, .navs-phone ul li{
    list-style: none;
    padding: 0 8px;
}
nav ul li a, .navs-phone ul li a{
    text-decoration: none;
    color: gray;
    transition: color ease .4s;
}
nav ul li a:hover{
    color: black;
}

.start-sell-btn, .login-btn{
    width: 150px;
    padding: 8px 12px;
    margin: 0 8px;
    border: none;
    border-radius: 5px;
    font-weight: 500;
}
.start-sell-btn{
    background-color: #11b719;
    color: white;
    box-shadow: 2px 2px 2px #0000008c;
}

.login-btn{
    background-color: #3930d8;
    color: white;
    box-shadow: 2px 2px 2px #0000008c;
}

.top .start-sell-btn{
    width: 150px;
    padding: 8px 12px;
    margin: 0;
    border: none;
    border-radius: 5px;
    font-weight: 500;
    box-shadow: 1px 1px 2px #0000008c;
}

.top input{
    width: 90%;
    padding: 8px;
    border: none;
    border-radius: 4px;
    outline: none;
}

section.top{
    background: url('../images/banner.svg') no-repeat center center/cover;
    padding: 68px 0;
}

.testimonials{
    background-color: #cccccc34;
}

.testimonials img{
    margin: 0 12px;
    border-radius: 5px;
}

.testimonials span{
    font-weight: 600;
}

.testimonials .testimony{
    padding: 12px;
    border-radius: 6px;
    transition: box-shadow ease 0.5s;
}

.testimonials .testimony:hover{
    box-shadow: 1px 1px 5px #ccc;
}

.nav-pills {
    justify-content: space-evenly;
}

.nav-pills .nav-link{
    color: rgb(58, 52, 52);
}

.why-us .tab-content{
    padding: 34px 58px; 
}

.nav-pills .nav-link.active{
    color: black;
    text-decoration:overline 4px solid #3830d8d8;
    background: none;
}

.why-us .tab-content .heading{
    text-align: center;
}

.why-us .tab-content .heading span{
    background-color: #3930d8;
    border-radius: 50%;
    color: white;
    padding: 7px 12px;
    justify-content: center;
}

.why-us .tab-content .heading h6{
    padding: 22px 0 8px;
    font-size: 18px;
}

.why-us .tab-content .content p,span{
    font-size: 15px;
    color: rgba(0, 0, 0, 0.8);
    line-height: 28px;
}

.why-us .tab-content .content i{
    color: #11b719;
    border: 1px solid #11b719;
    border-radius: 5px;
}


/* Responsive */

@media screen and (max-width:838px) {
    .start-sell-btn, .login-btn{
        width: 120px;
        margin: 0 4px;
    }
}

@media screen and (max-width:768px) {
    .navs-phone ul li{
        list-style: none;
        padding: 0 16px;
    }
}

@media screen and (max-width:476px) {
    nav{
        padding: 6px 0;
    }
    .start-sell-btn, .login-btn{
        width: fit-content;
        margin: 0 4px;
    }

    .navs-phone ul li{
        list-style: none;
        padding: 0 10px;
    }
}